<h3>Barangay Edit</h3>

<form [formGroup]="barangayForm" (ngSubmit)="update()">
  <table>
    <tr hidden="hidden">
      <td>Id</td>
      <td><input type="text" formControlName="id" /></td>
    </tr>
    <tr>
      <td>Code</td>
      <td><input type="text" formControlName="code" required="required" /></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><input type="text" formControlName="name" required="required" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Update" /></td>
    </tr>
  </table>
</form>
