<h3>Barangay Index</h3>
<div>
  <a [routerLink]="['/barangay/create']"> Create </a>
  <br /><br />
</div>
<div *ngIf="barangays">
  <table border="1">
    <tr>
      <th hidden="hidden">Id</th>
      <th>Code</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let barangay of barangays">
      <td hidden="hidden">{{ barangay.barangayId }}</td>
      <td>{{ barangay.code }}</td>
      <td>{{ barangay.name }}</td>
      <td>
        <button type="button" (click)="edit(barangay.barangayId)">Edit</button>
        |
        <button type="button" (click)="delete(barangay.barangayId)">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
